<form method="post" action="{{ path('body_part_delete', {'id': body_part.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ body_part.id) }}">
    <button class="btn">Delete</button>
</form>
