{% extends 'base.html.twig' %}

{% block title %}New Movement{% endblock %}

{% block body %}
    <h1>Create new Movement</h1>

    {{ include('movement/_form.html.twig') }}

    <a href="{{ path('movement_index') }}">back to list</a>
{% endblock %}
