{% extends 'base.html.twig' %}

{% block title %}New Catagory{% endblock %}

{% block body %}
    <h1>Create new Catagory</h1>

    {{ include('catagory/_form.html.twig') }}

    <a href="{{ path('catagory_index') }}">back to list</a>
{% endblock %}
